<!DOCTYPE html>
<html>
  <head>
    <title>Game Reviews</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/app.css'>
  </head>
  <body>
    <h1>(Insert Bad-Ass Game Review Site Name Here)</h1>
    <div class="container">
      #parse($template )
    </div>
  </body>
  <footer>
        <p>Designed by: Ben Vissotkzy and Matthew F Nicholas | Contact information: <a href="mailto:fostermatt82@gmail.com">fostermatt82@gmail.com</a></p>
    </footer>
</html>
